
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: #fff;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;  
}

.navbar, footer, #caja-de-icono, .card-body {
  background-color:#359FAE;
}

#contacto, #quienes-somos, #destacados {
  background-color: black;
}

#color-title {
  color: #fff;
}

#destacados .card-img-top {
  display: inline-block;
  vertical-align: middle;
  height: 10rem;
  width: 16.97rem;
}

#button {
  background-color: #359FAE;
  color: #fff;
}
  
  